.movie-list {
    position:absolute;
    right:7px;
    top: 60px;
    /*z-index:3;*/
    width: 26%;
    background-color: rgba(255,255,255,0.7);
    max-height: 90%;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    overflow: scroll;
}


@media only screen and (max-width: 500px) {
    .movie-list {
    position:absolute;
    left: 10%;
    top: 90px;
    width: 85%;
    background-color: rgba(255,255,255,0.7);
    max-height: 90%;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    overflow: scroll;
    
    }

    #hideList {
        display: none
    }
}