.hide {
    display: none
}

.autocomplete {
 list-style: none;
  max-height: 200px;
  overflow: scroll;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
  margin: 0;
  padding: 10px 0;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index:3;
}

.autocomplete li {
    padding: 7px 10px;
    cursor: pointer
}

.autocomplete li:hover {
    background: #799ace;
    color: white;
}


.menu > li {
    display: block
}

.menu li:hover ul,  .menu li:hover ul {
    position: abolute;
    display: block;
    padding: 32px 0 0 14px;
    font-size: 16px;
    z-index: 999px;
}